#addTodoBtn {
  background-color: #B4E197;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0px 3px 15px -1px #9ff18a;
          box-shadow: 0px 3px 15px -1px #9ff18a;
  color: #E9EFC0;
  font-size: 2.5rem;
  font-family: none;
  height: 5rem;
  left: 15.2rem;
  position: relative;
  top: 2.5rem;
  -webkit-transition: 250ms;
  transition: 250ms;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#addTodoBtn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.todos {
  padding: 0rem 2rem 2rem 2rem;
}

.todos h1 {
  margin: 0;
}

.todos .todo {
  -webkit-transition: 250ms;
  transition: 250ms;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: italic;
  text-decoration: underline;
}

.todos .todo .deleteDiv:hover {
  cursor: pointer;
}

.todos .todo .deleteDiv i {
  -webkit-transition: 250ms;
  transition: 250ms;
  color: #B4E197;
}

.todos .todo .deleteDiv i:hover {
  color: #ff0095;
  position: relative;
  -webkit-animation: shake 500ms linear alternate;
          animation: shake 500ms linear alternate;
}

.todos .todo:not(:first-child) {
  padding-top: 1.8rem;
}

.todos .todo label {
  width: 95%;
}

.todos .todo label:hover {
  cursor: pointer;
}

.todos .todo input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  border: 0.2rem solid #B4E197;
  float: right;
  margin-right: 1.5rem;
  -webkit-transition: 250ms;
  transition: 250ms;
  height: 1.5rem;
  width: 1.5rem;
}

.todos .todo input[type="checkbox"]:hover {
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.todos .todo input[type="checkbox"]:checked {
  background-color: #83BD75;
}

.todos .todo input[type="checkbox"]:checked:hover {
  cursor: pointer;
}

.addTD {
  text-decoration: none !important;
}

.addTD label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addTD label textarea {
  background-color: #E9EFC0;
  border-radius: 1rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  min-height: 2rem;
  padding: .5rem;
  -webkit-transition: 250ms;
  transition: 250ms;
  width: 80%;
  text-decoration: none;
}

.addTD label textarea:focus {
  outline: none;
  -webkit-box-shadow: 0px 3px 15px -1px #9ff18a;
          box-shadow: 0px 3px 15px -1px #9ff18a;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    opacity: .66;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  75% {
    opacity: .20;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    opacity: .66;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  75% {
    opacity: .20;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    width: 20rem;
  }
  to {
    opacity: 1;
    width: 35rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    width: 20rem;
  }
  to {
    opacity: 1;
    width: 35rem;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  10% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  20% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  50% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  70% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  90% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  10% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  20% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  50% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  70% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  90% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.header .date {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .date .day {
  font-size: 2.8rem;
  font-weight: 800;
}

.header .date .monthAndYear {
  padding-left: .5rem;
}

.header .date .monthAndYear p {
  color: #808080;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lobster', cursive;
}

body {
  background-color: #4E944F;
}

body .content {
  -webkit-animation: fadeIn 500ms;
          animation: fadeIn 500ms;
  background-color: #E9EFC0;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 3px 15px -1px #9ff18a;
          box-shadow: 0px 3px 15px -1px #9ff18a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  margin: 10% auto;
  width: 35rem;
}

.fadeAway {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation: fadeInLeft 1s linear;
          animation: fadeInLeft 1s linear;
  opacity: 0;
}

.marked {
  color: #999999;
  text-decoration: line-through !important;
}
/*# sourceMappingURL=style.css.map */