html {
  font-family: 'Lobster', cursive;
}

body {
  background-color: #4E944F;
}

body .content {
  -webkit-animation: fadeIn 500ms;
          animation: fadeIn 500ms;
  background-color: #E9EFC0;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 3px 15px -1px #9ff18a;
          box-shadow: 0px 3px 15px -1px #9ff18a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  margin: 10% auto;
  max-width: 35rem;
}

body .content .header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

body .content .header .date {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content .header .date .day {
  font-size: 2.8rem;
  font-weight: 800;
}

body .content .header .date .monthAndYear {
  padding-left: .5rem;
}

body .content .header .date .monthAndYear p {
  color: grey;
  margin: 0;
  padding: 0;
}

body .content .todos {
  padding: 2rem 2rem 2rem 2rem;
}

body .content .todos .todo {
  -webkit-transition: 250ms;
  transition: 250ms;
  text-decoration: underline;
  font-size: 1.3rem;
}

body .content .todos .todo:not(:first-child) {
  padding-top: 2rem;
}

body .content .todos .todo label:hover {
  cursor: pointer;
}

body .content .todos .todo input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  border: 0.2rem solid #B4E197;
  float: right;
  -webkit-transition: 250ms;
  transition: 250ms;
  height: 1.5rem;
  width: 1.5rem;
}

body .content .todos .todo input[type="checkbox"]:hover {
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body .content .todos .todo input[type="checkbox"]:checked {
  background-color: #83BD75;
}

body .content .todos .todo input[type="checkbox"]:checked:hover {
  cursor: pointer;
}

#addTodoBtn {
  background-color: #B4E197;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0px 3px 15px -1px #9ff18a;
          box-shadow: 0px 3px 15px -1px #9ff18a;
  color: #E9EFC0;
  font-size: 2.5rem;
  font-family: none;
  height: 5rem;
  left: 15.2rem;
  position: relative;
  top: 2.5rem;
  -webkit-transition: 250ms;
  transition: 250ms;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#addTodoBtn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.addTD label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addTD label input[type="text"] {
  background-color: #E9EFC0;
  border-radius: 1rem;
  font-size: 1.1rem;
  margin-top: 1rem;
  min-height: 2rem;
  padding: .5rem;
  -webkit-transition: 250ms;
  transition: 250ms;
  width: 80%;
}

.addTD label input[type="text"]:focus {
  outline: none;
  -webkit-box-shadow: 0px 3px 15px -1px #9ff18a;
          box-shadow: 0px 3px 15px -1px #9ff18a;
}

.marked {
  color: grey;
  text-decoration: line-through;
}

.fadeAway {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation: fadeInLeft 1s linear;
          animation: fadeInLeft 1s linear;
  opacity: 0;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    opacity: .66;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  75% {
    opacity: .33;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    opacity: .66;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  75% {
    opacity: .33;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    width: 20rem;
  }
  to {
    opacity: 1;
    width: 35rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    width: 20rem;
  }
  to {
    opacity: 1;
    width: 35rem;
  }
}
/*# sourceMappingURL=style.css.map */