// CSS Imports

@import './Variables';
@import './Buttons';
@import './Todos';
@import './AddTodo';
@import './Animations';
@import './Header';


html {
    font-family: 'Lobster', cursive;
}

body {
    background-color: $darkBackground;

    .content {
        animation:fadeIn 500ms;
        background-color: $lightBackground;
        border-radius: $border-radius;
        box-shadow: $boxShadow;
        display:flex;
        flex-direction: column;
        height: auto;
        margin: 10% auto;
        width: 35rem;
    }
}


.fadeAway {
    animation-iteration-count: 1;
    animation:fadeInLeft 1s linear;
    opacity:0;
}
  
.marked {
    color:#999999;
    text-decoration:line-through !important;
}